[submodule "Capybara/vendor/spdlog"]
	path = Capybara/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Capybara/vendor/GLFW"]
	path = Capybara/vendor/GLFW
	url = https://github.com/TheCherno/glfw
